@model product
@{
    ViewData["Title"] = "EditForm";
}

<h1>@Model.Name</h1>
<br />
<br />
<form method="post" action="/admin/edit/@Model.id">
    <input type="submit" /><br /><br />
    <table>
        <tbody>
            <tr>
                <td>Name: </td>
                <td><input type="text" name="Name" value="@Model.Name" required/></td>
            </tr>
            <tr>
                <td>Price: </td>
                <td><input type="text" name="Price" value="@Model.Price" required/></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td><input type="text" name="Description" value="@Model.Description" required/></td>
            </tr>
            <tr>
                <td>Category: </td>
                <td>
                    <select id="category" name="category" required>
                    @foreach (product prod in ViewBag.categories)
                    {
                        <option value="@prod.category">@prod.category</option>

                    }
                        </select>
                </td>
            </tr>
        </tbody>
    </table>
    <br /><br />
    <input type="hidden" value="@Model.id" name="@Model.id" />
    <input type="submit" />
</form>

